/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: hsla(355, 75%, 56%, 1);
  }
  
  /* Hamburger Menu */
  .McButton {
    --bar-w: 25px;
    --bar-h: 2px;
    --bar-color: white;
    position: absolute;
    width: var(--bar-w);
    height: calc((var(--bar-w) * 3) / 4);
    cursor: pointer;
  
    b {
      position: absolute;
      left: 0;
      width: var(--bar-w);
      height: var(--bar-h);
  
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        top: 50%;
      }
  
      &:nth-child(3) {
        top: 100%;
      }
    }

  } /* McButton */
  