<footer class="print:hidden">
    <div class="mx-auto max-w-6xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2">
            <a *ngFor="let account of socialAccounts"
                class="p-1 text-gray-400 hover:text-gray-500 d:text-gray-600 d:hover:text-gray-500">
                <span class="sr-only">{{ account.name }}</span>
                <!-- NOTE: You'll need to replace the below icon with your angular icons or image -->
                <!-- <img [src]="account.iconPath" alt="{{ account.name }}" class="{{account.iconPath}}" class="h-5 w-5" aria-hidden="true" /> -->
                <div class="icon hfa:d:text-gray-300/80  d:hfa:text-gray-50 cursor-pointer	"
                    *ngIf="account.name==='GitHub'">
                    <i style="font-size:20px" class="fab fa-brands fa-github"></i>
                </div>

                <div *ngIf="account.name==='LinkedIn' "
                    class="icon hfa:d:text-gray-300/80  d:hfa:text-gray-50 cursor-pointer	">
                    <i style="font-size:20px" class="fab fa-brands fa-linkedin"></i>
                </div>

                <div class="icon hfa:d:text-gray-300/80  d:hfa:text-gray-50 cursor-pointer	"
                    *ngIf="account.name==='Twitter' ">
                    <i style="font-size:20px" class="fab fa-brands fa-twitter"></i>
                </div>

                <div class="icon hfa:d:text-gray-300/80 d:hfa:text-gray-50 cursor-pointer	"
                    *ngIf="account.name==='Mail' ">
                    <!-- <i  class="fab fa-brands fa-twitter"></i> -->
                    <i style="font-size:20px" class="fas fa-solid fa-envelope"></i>
                </div>


            </a>
        </div>
        <div class="mt-8 md:order-1 md:mt-0">
            <small class="block text-center text-sm text-gray-400 d:text-gray-600">
                &copy; {{ currentYear }} Felix Tellmann, All rights reserved.
            </small>
        </div>
    </div>
</footer>