  
  

  
  





  
  
  
  
  

  
  
  

.image-stack .custom-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out, z-index 0.5s ease-in-out;
  }
  
.tooltip {
    bottom: 120%; /* Position the tooltip above the image */
    left: 50%; /* Center the tooltip horizontally */
    background-color: #fff!important; /* Background color of the tooltip box */
    border: 1px solid #ccc; /* Border color of the tooltip box */
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    z-index: 999;
    color: white!important;
  }
  
  .tooltip::before {
    content: ''; /* Protrusion */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-bottom: 8px solid #fff; /* Background color of the tooltip box */
  }
  
  
  .image-stack .custom-tooltip:hover {
    filter: grayscale(100%);
    z-index: 1;
  }
  
