<section id="portfolio" class="portfolio-preview mb-24 min-h-full spacing-4" style="min-height: 100%!important">
    <header class="mx-auto grid w-full max-w-6xl px-4 md:px-8" data-aos="fade-up">
        <div class="heading-pre">Let's Connect</div>
        <h1 class="heading-2xl -ml-1">Get in Touch</h1>
    </header>
    <div class="content" style="margin-bottom:500px!important" data-aos="fade-up">
        <div class="card">
            <div class="card__cap">
                <h1 class="card__title">
                    Contact card
                </h1>
                <!-- <SocLinks
                onMouseOver={() => setSmile(true)}
                onMouseLeave={() => setSmile(false)}
                shouldInherit='card'
            /> -->
            </div>
            <div class="card__body" style="z-index: 100; position:relative; margin:0 10px">
                <div class="card__photo">
                    <!-- <Face
                    shouldSmile={shouldSmile}
                /> -->
                    <app-face #face [shouldSmile]="shouldSmile"></app-face>


                </div>
                <div>
                    <div class="card__info">
                        <!-- <Card__wr1 />
                <Card__wr2
                    onMouseOver={() => setSmile(true)}
                    onMouseLeave={() => setSmile(false)}
                /> -->

                        <app-card-title (faceSmile)="changeFaceSmile($event)"></app-card-title>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>