/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: hsla(355, 75%, 56%, 1);
  }
  
  /* Hamburger Menu */
  .McButton {
    --bar-w: 25px;
    --bar-h: 2px;
    --bar-color: white;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-left: calc(-var(--bar-w) / 2);
    // margin-top: calc(-var(--bar-w) / 2);
    width: var(--bar-w);
    height: calc((var(--bar-w) * 3) / 4);
    cursor: pointer;
  
    b {
      position: absolute;
      left: 0;
      width: var(--bar-w);
      height: var(--bar-h);
    //   background-color: var(--bar-color);
  
      &:nth-child(1) {
        top: 0;
      }
  
      &:nth-child(2) {
        top: 50%;
      }
  
      &:nth-child(3) {
        top: 100%;
      }
    }

    // b.d{
    //     background-color: dark;
    // }
  } /* McButton */
  