<section class="relative h-[420px]" style="z-index: 1;">
    <div
        class="relative flex h-full min-w-[360px] flex-col gap-4 sm:min-w-[660px] lg:absolute lg:left-8 lg:top-16 lg:left-6 lg:top-24 lg:min-w-[480px]">
        <div class="relative z-20 flex justify-end gap-1.5">
            <app-badge [size]="'md'" [style]="'warning'" [children]="'Text'"></app-badge>
            <app-badge [size]="'md'" [style]="'info'" [children]="'Text'"></app-badge>
            <app-badge [size]="'md'" [style]="'attention'" [children]="'Text'"></app-badge>
            <app-badge [size]="'md'" [style]="'success'" [children]="'Text'"></app-badge>
            <app-badge [size]="'md'" [style]="'accent'" [children]="'Text'"></app-badge>
        </div>
        <div class="relative flex h-full flex-col">
            <figure
                class="relative w-full flex-col overflow-hidden rounded-md border-2 border-gray-200-custom p-2.5 shadow-2xl drop-shadow-lg d:border-gray-600/40 h-full bg-gray-900-custom">
                <header class="mb-2 grid items-center border-b border-b-gray-800-custom pb-2"
                    style="grid-template-columns: 50px 1fr 50px;">
                    <i class="flex gap-1.5">
                        <button tabIndex={-1} aria-hidden
                            class="h-3 w-3 rounded-full bg-gray-700 transition-colors h:bg-[#EC6A5F] bg-red-custom"></button>
                        <button tabIndex={-1} aria-hidden
                            class="h-3 w-3 rounded-full bg-gray-700 transition-colors h:bg-[#F4BF50] bg-yellow-custom"></button>
                        <button tabIndex={-1} aria-hidden
                            class="h-3 w-3 rounded-full bg-gray-700 transition-colors h:bg-[#61C454] bg-green-custom"></button>
                    </i>
                    <div
                        class="color select-none text-center text-[13px] leading-none tracking-wide text-gray-500-custom">
                        /index.tsx
                    </div>
                    <div class="flex justify-end">
                        
                        
                    </div>
                </header>
                <main
                    class=" relative h-[calc(100%-37px)] overflow-hidden  before:absolute b:pointer-events-none b:bottom-0 b:z-10 b:h-12 b:w-full b:select-none b:bg-gradient-to-b b:from-transparent b:to-gray-900">

                    <div class="sm:scrollbar-none relative h-full overflow-auto " #terminal>


                        
                        


                        <app-terminal-new></app-terminal-new>
                    </div>
                </main>
            </figure>
            <div
                class="absolute -right-5 -bottom-5 -z-10 h-[calc(100%+1.25rem)] w-[calc(100%+1.25rem)] rounded-lg border border-gray-400/20 bg-gray-100/70 [mask-image:linear-gradient(-30deg,#fff_16.35%,rgb(255_255_255_/_0%)_61.66%)] d:border-gray-700/20 d:bg-gray-900/40">
            </div>
        </div>
    </div>
</section>