// @import '../../shared/styles/variables';
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// :host {
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10;
// }

// .hamburger-btn {
//   cursor: pointer;
// }

// .navbar {
//   &.bg-navbar {
//     // background-color: $color-primary;
//     background-color:black;
//   }
// }

// .option-button {
//   &:hover {
//     // background-color: $color-primary-dark;
//     background-color: gray;
//   }
// }

// @media (min-width: 950px) {
//   .hamburger-btn {
//     display: none;
//   }

//   .navbar {
//     background-color: transparent;
//   }

//   .option-button {
//     &:hover {
//       background-color: transparent;
//     }
//   }
// }
// :host {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 0 16px; /* Add padding as needed */
//   background-color: #000000; /* Set background color as needed */
//   height: 64px; /* Set height as needed */
// }

/* headbar.component.scss */
@use '../../styles.scss' as *;

.github-icon {
  color: white; /* Customize the color */
  font-size: 24px; /* Customize the size */
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

// .headbar {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   // padding: 1rem;
//   color: gray; /* Initial color */
//   background-color: gray; /* Initial background color */
//   opacity: 0; /* Initially hidden */
//   transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
//   // justify-content: space-between;
//   padding: 0 16px; /* Add padding as needed */
//   background-color: pink; /* Set background color as needed */
//   // height: 30px; /* Set height as needed */
//   z-index: 10000;
//   display: flex;

//   justify-content: center; // Center aligns the icons horizontally
//   align-items: center; // Center aligns the icons vertically
//   height: 50px; // Set the height of the navbar as desired
//   background-color: red; // Set the background color of the navbar as desired

// }

.navbar__icon {
  margin: 0 10px; // Add margin between the icons as desired
  display: flex; // Add this to make the icons display in a row
  align-items: center; 
}

.fixed {
  position: sticky;
  top: 0;
  height: 5rem;
  // color: black; /* Color when fixed */
  // background-color: black; /* Background color when fixed */
  // opacity: 1; /* Faded in when fixed */
}

ul {
  /* List styles */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* List item styles */
  display: inline-block;
  margin-right: 10px;
}

a {
  /* Anchor link styles */
  color: #000; /* Set your desired color */
  text-decoration: none;
}



.logo {
  /* Add styles for the logo on the left */
  font-size: 24px; /* Set font size as needed */
  font-weight: bold; /* Set font weight as needed */
  color: #333; /* Set color as needed */
}

.headbar-icon {
  /* Add styles for the icons on the right */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.mat-icon {
  /* Add styles for the Material Icons */
  font-size: 24px; /* Set font size as needed */
  color: white; /* Set color as needed */
  margin-left: 16px; /* Add margin as needed between icons */
  position: relative; /* Add relative positioning to create a stacking context */
}

.navbar__icon__text {
  color: yellow;
  opacity: 0;
  
  position: absolute; /* Add absolute positioning */
  top: 0; /* Position the text at the top */
  // left: -100%; /* Move the text completely to the left */
}

.icon-robot {
  width:30px;
  height:30px;
  margin-right: 4%;
  margin-left: 4%;
  padding-right: 2%;
  padding-left: 2%;
  // background: transparent;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color:white;
  // border: 2px solid rgb(var(--color-gray-400)/0.8);
  // @apply dark:[color:black];
  // color: #000;

}

@media screen and (max-width: 768px) {
  .middle-content {
    display: none!important;
  }

  // .resume-button{
  //   display: none!important;
  // }
}

@media screen and (max-width: 768px) {
  .resume-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-show {
    display: none;
  }

 
}
// .d.icon-robot{
//   background-color: rgba( 15, 23, 42, 1);
//   color: #fff
// }


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  position: absolute;

  color: gray; /* Initial color */
  background-color: gray; /* Initial background color */
  opacity: 0; /* Initially hidden */
  display: grid;
  height: 100%;
  width: 100%;
  // place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 10000;
}

.d.dark-bg{
  background-color: rgb(var(--color-gray-900)/.4)
}

.fa-robot{
  color:white;
}

.d.fa-robot{
  color:black;
}
.icon-robot:hover {
  background-color: black;
}
.d.icon-robot:hover {
  background-color: rgba(241, 245, 249, 0.8);
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px; /* Adjust padding as needed */
}


.left-content {
  display: flex;
  align-items: center;
}

.middle-content{
  display: flex;
  align-items: center;
}

.right-content {
  display: flex;
  align-items: center;
  margin-right:5%;
 
}

.wrapper {
  display: flex;
  align-items: center;
}
.wrapper .button1{
  display: inline-block;
  height: 45px;
  width: 45px;
  float: left;
  margin: 0 10px;
  overflow: hidden;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button1:hover{
  width: 150px;
  // padding-bottom: 5px;
}
.wrapper .button1 .icon{
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  // color:white;
}

.icon {
  @apply dark:[color:white];
}

.wrapper .button1:nth-child(1):hover .icon{
  background: rgba(14, 165, 233, 1);;
}
.wrapper .button1:nth-child(2):hover .icon{
  background: rgba(14, 165, 233, 1);;
}
.wrapper .button1:nth-child(3):hover .icon{
  background: rgba(14, 165, 233, 1);;
}
.wrapper .button1:nth-child(4):hover .icon{
  background: rgba(14, 165, 233, 1);;
}
.wrapper .button1:nth-child(5):hover .icon{
  background: rgba(14, 165, 233, 1);;
}
.wrapper .button1 .icon i{
  font-size: 25px;
  // line-height: 30px;
  transition: all 0.3s ease-out;
}
.wrapper .button1:hover .icon i{
  color: #fff;
}
.wrapper .button1 span{
  font-size: 15px;
  font-weight: 200;
  // line-height: 60px;
  margin-left: 5px;
  transition: all 0.3s ease-out;
  // vertical-align:middle;
  // background-color: #14cf1b;
  // margin-bottom: px;
}

// span{
//   margin-bottom: 10px!important;
// }

.wrapper .button1:nth-child(1) span{
  color: rgba(14, 165, 233, 1);;
  vertical-align: 5px;
}
.wrapper .button1:nth-child(2) span{
  color: rgba(14, 165, 233, 1);;
  vertical-align: 5px;
}
.wrapper .button1:nth-child(3) span{
  color: rgba(14, 165, 233, 1);;
  vertical-align: 5px;
}
.wrapper .button1:nth-child(4) span{
  color: rgba(14, 165, 233, 1);;
  vertical-align: 5px;
}
.wrapper .button1:nth-child(5) span{
  color: rgba(14, 165, 233, 1);;
  vertical-align: 5px;
}

