<!-- <div id="terminal" style="background-color: aqua;">
    <a #before></a>
</div>
<div id="command" (click)="textarea!.focus()">
    <textarea type="text" #texter (keyup)="typeIt($event)"
        (keydown)="typeIt($event); moveIt(textarea!.value!.length, $event)" (keypress)="typeIt($event)"
        autofocus></textarea>

    <div #liner>
        <span #typer></span><b class="cursor" #cursor>█</b>
    </div>
</div> -->

<div class="terminalCls">
    <a class="aCls" #before></a>
</div>
<div #command class="command" (click)="texter.focus()" style="padding-left: 15px; font-family: cursor, monospace;">
    <textarea class=" textAreaCls" type="text" #texter (keyup)="typeIt( $event)"
        (keydown)="typeIt( $event); moveIt(textValue.length, $event)" (keypress)="typeIt( $event)"
        [(ngModel)]="textValue" autofocus></textarea>

    <div class="liner" #liner>
        <span #typer></span><b class="cursor bCls" #cursor>█</b>
    </div>
</div>