<!-- component.html -->
<button style="margin: auto; padding:20%" #jsBtn class="btn btn-green btn-lg btn-error "
    [ngClass]="{'error': triggerErrorClass}" (click)="doSubmit()">
    <!-- <span style="writing-mode: vertical-lr; text-orientation: upright; white-space: nowrap;letter-spacing: -1px;"
        class="text">Submit</span> -->
    <i class="fas fa-light fa-envelope env-visible"></i>
    <div class="timer">
        <svg #jsTimer viewBox="0 0 120 120" xmlns='http://www.w3.org/2000/svg'>
            <circle cx="60" cy="60" r="55"></circle>
        </svg>
    </div>
    <div class="icon-success">
        <svg viewBox="0 0 50 45" xmlns='http://www.w3.org/2000/svg'>
            <path d="M20,42 L3, 25"></path>
            <path d="M20,42 L47,3"></path>
        </svg>
    </div>

    <div class="icon-error">
        <svg viewBox="0 0 50 50" xmlns='http://www.w3.org/2000/svg'>
            <line x1="10" y1="10" x2="40" y2="40" stroke="white" stroke-width="5" />
            <line x1="10" y1="40" x2="40" y2="10" stroke="white" stroke-width="5" />
        </svg>
    </div>
</button>