<div class="container" style="background-color: aqua;">
    <div class="tabs" (click)="handleClick($event)">
        <a class="tab tab-1" href="#" data-tab="1" [ngClass]="{'active': activeTab === 1}">Tab 1</a>
        <a class="tab tab-2" href="#" data-tab="2" [ngClass]="{'active': activeTab === 2}">Tab 2</a>
        <a class="tab tab-3" href="#" data-tab="3" [ngClass]="{'active': activeTab === 3}">Tab 3</a>
        <a class="tab tab-4" href="#" data-tab="4" [ngClass]="{'active': activeTab === 4}">Tab 4</a>
        <span class="highlighter"></span>
    </div>

    <!-- --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px; -->

    <div class="content">
        <h3 style="margin-bottom: 2px;
            font-size: 22px;
            font-weight: 500;
            line-height: 1.3;">
            <span>Experience</span>
        </h3>

        <p style="margin-bottom: 25px;
        color: var(--light-slate);
        font-family: var(--font-mono);
        font-size: 13px;"> May-2018 to Present</p>
        <div class="content__section" data-tab="1" [ngClass]="{'visible': activeTab === 1}">
            <ul>
                <li>Lorem ipsum dolor amet umami kogi you probably haven't heard of them activated charcoal hexagon
                    literally.</li>

                <li>Vice art party XOXO retro blue bottle. Squid tousled skateboard man bun pabst unicorn
                    sriracha poutine echo park crucifix plaid health goth four dollar toast.</li>

                <li>XOXO gochujang PBR&B kombucha
                    brooklyn street art lyft swag.</li>
            </ul>
        </div>
        <div class="content__section" data-tab="2" [ngClass]="{'visible': activeTab === 2}">
            <ul>
                <li>Lorem ipsum dolor amet umami kogi you probably haven't heard of them activated charcoal hexagon
                    literally.</li>

                <li>Vice art party XOXO retro blue bottle. Squid tousled skateboard man bun pabst unicorn
                    sriracha poutine echo park crucifix plaid health goth four dollar toast.</li>

                <li>XOXO gochujang PBR&B kombucha
                    brooklyn street art lyft swag.</li>
            </ul>
        </div>
        <div class="content__section" data-tab="3" [ngClass]="{'visible': activeTab === 3}">
            <ul>
                <li>Lorem ipsum dolor amet umami kogi you probably haven't heard of them activated charcoal hexagon
                    literally.</li>

                <li>Vice art party XOXO retro blue bottle. Squid tousled skateboard man bun pabst unicorn
                    sriracha poutine echo park crucifix plaid health goth four dollar toast.</li>

                <li>XOXO gochujang PBR&B kombucha
                    brooklyn street art lyft swag.</li>
            </ul>
        </div>
        <div class="content__section" data-tab="4" [ngClass]="{'visible': activeTab === 4}">
            <ul>
                <li>Lorem ipsum dolor amet umami kogi you probably haven't heard of them activated charcoal hexagon
                    literally.</li>

                <li>Vice art party XOXO retro blue bottle. Squid tousled skateboard man bun pabst unicorn
                    sriracha poutine echo park crucifix plaid health goth four dollar toast.</li>

                <li>XOXO gochujang PBR&B kombucha
                    brooklyn street art lyft swag.</li>
            </ul>
        </div>
    </div>
</div>