<clr-tabs [ngClass]="class" class="tabsGrid">
  
    <clr-tab vscIfTabActive> 
      <button clrTabLink>Dashboard</button>
      <clr-tab-content>
        <ng-template [ngIf]="!moreContent">Dashboard Content</ng-template>
        <ng-template [ngIf]="moreContent">
  <p>
  My capacity is full parallel path pixel pushing. At the end of the day where the metal hits the meat anti-pattern product management breakout fastworks but we need more paper.  </p>
  
  
        </ng-template>
      </clr-tab-content>
    </clr-tab>
  
    <!-- vscIfTabActive [activeClass]="'activeTab'" -->
    <clr-tab>
      <button clrTabLink>Management</button>
      <clr-tab-content>
        <ng-template [ngIf]="!moreContent">Management Content</ng-template>
        <ng-template [ngIf]="moreContent">
  <p>Pudding sweet gummies macaroon I love liquorice gummi bears. I love I love sugar plum cheesecake I love muffin candy. </p>
        </ng-template>
      </clr-tab-content>
    </clr-tab>

    <!-- vscIfTabActive [activeClass]="'activeTab'" -->
    <clr-tab>
      <button clrTabLink>Cloud</button>
      <clr-tab-content>
        <ng-template [ngIf]="!moreContent">Cloud Content</ng-template>
        <ng-template [ngIf]="moreContent">
  <p>
  Bite nose of your human find box a little too small and curl up with fur hanging out poop on grasses mark territory 
  </p>
        </ng-template>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
        <button clrTabLink >Alerts</button>
        <clr-tab-content>
        <ng-template [ngIf]="!moreContent">Alerts Content</ng-template>
        <ng-template [ngIf]="moreContent">
            <p>
            A very small stage in a vast cosmic arena rings of Uranus corpus callosum rich in heavy atoms bits of moving fluff how far away. Network of wormholes the sky calls to us take root and flourish invent the universe ship of the imagination Sea of Tranquility. Two ghostly white figures in coveralls and helmets are soflty dancing the only home we've ever known descended from astronomers gathered by gravity vanquish the impossible ship of the imagination.
            </p>
        </ng-template>
        </clr-tab-content>
    </clr-tab>
    
</clr-tabs>