<section class="portfolio-preview min-h-full spacing-4 ">
  <div class="hero-container">
    <div id="shape"></div>

    <div id="toggle" class="border-2 border-gray-400/50"
      style="width: 90px;border-radius: 20px;  position: relative; margin-top: 2%; margin-left:2%; cursor:pointer"
      (click)="myFunction()">
      <span id="toggle-btn" [ngClass]="{'span-dark': isLightMode}">
        <i id="change-icon1" class="fas" [ngClass]="{'fa-cloud-moon': !isLightMode, 'moon-icon': isLightMode}"></i>
        <i id="change-icon2" class="fas" [ngClass]="{'fa-cloud-sun': isLightMode, 'sun-icon': isLightMode}"></i>
      </span>
    </div>

    <div (click)="toggleChat()" style="margin-top:2%;"
      class=" group flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-400/50 bg-white bg-clip-padding text-sm font-medium text-gray-600 transition-all  hfa:bg-gray-200  d:bg-heroIconBg d:text-gray-50 cursor-pointer d:hfa:bg-gray-700 ">
      <i style="font-size: 20px;" class="fas fa-robot d:text-white "></i>
    </div>

    <a target="_blank" style="margin-top:2%; margin-right:2%;" href="https://github.com/AryanVijaywargia"
      rel="noopener"
      class="group flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-400/50 bg-white bg-clip-padding text-sm font-medium text-gray-600 transition-all hfa:border-yellow-500/30 hfa:bg-yellow-500 hfa:text-white d:bg-heroIconBg d:text-gray-50 d:hfa:bg-yellow-500"
      data-tip="Star on Github">
      <span class="sr-only">Star on Github</span>
      <i style="font-size: 20px;" class="fas fa-regular fa-star text-yellow-500 group-hfa:text-white"></i>
    </a>

  </div>
</section>