<div class="face">
    <span class="hair"></span>
    <span [ngClass]="{'ears': true, 'ears-smiling': shouldSmile}"></span>
    <div class="face__front">
        <span [ngClass]="{'eyes': true, 'eyes-smiling': shouldSmile}"></span>
        <span class="nose"></span>
        <span [ngClass]="{'blush': true, 'blush-smiling': shouldSmile}"></span>
        <span [ngClass]="{'mouth': true, 'mouth-smiling': shouldSmile}"></span>
    </div>
</div>

<!-- const Face = ({ shouldSmile }) => {
    return 	<div className="face">
              <span className="hair"></span>
              <span className={`ears ${shouldSmile ? 'ears-smiling' : ''}`}></span>
              <div className="face__front">
                  <span className={`eyes ${shouldSmile ? 'eyes-smiling' : ''}`}></span>
                  <span className="nose"></span>
                  <span className={`blush ${shouldSmile ? 'blush-smiling' : ''}`}></span>
                  <span className={`mouth ${shouldSmile ? 'mouth-smiling' : ''}`}></span>
              </div>
          </div>
} -->