<section id="about-section" class="portfolio-preview min-h-full spacing-4 scroll-smooth" #heroSection>
  <header class="mx-auto grid w-full max-w-6xl px-4 md:px-8" data-aos="fade-up">
    <div class="heading-pre">About Me</div>
    <h1 class="heading-2xl -ml-1">Know more</h1>
  </header>

  <section id="about" class=" sm:-mt-12 overflow-hidden pt-12">
    <div
      class="mx-auto flex flex-col justify-center gap-12 max-w-6xl px-4 pb-12 md:px-8 lg:grid lg:grid-cols-[540px_auto] lg:pt-16">
      <button #buttonRef data-aos="fade-up"
        class="group relative mx-auto mb-12 aspect-3/2 max-h-[405px] w-full max-w-[540px] flex-1 hfa:outline-none lg:mb-auto  lg:mr-0 lg:aspect-4/3"
        type="button" data-event="mouseover" [attr.data-tip]="image?.alt" style="transform: perspective(10px);">
        
        
        <app-image [maxWidth]="540" [maxHeight]="400" [images]="image" [alt]="tooltip" [key]="image.alt" [width]="2000"
          [height]="1500" [preload]="true" style="width: 100%;"
          [class]="'absolute left-0 top-0 rounded-xl border-2 border-gray-50/80 object-cover shadow-lg shadow-gray-700/5 transition-all duration-300 group-focus-visible:border-sky-500 d:border-gray-600/80'"
          [attr.data-about-image-index]="index" [style.transform]="
              focusImageIndex > index
                ? 'translate(-700px, -' + (index % 4) * 60 + 25 + 'px) rotate(' + (index % 4) * (index % 2 === 0 ? 0.5 : -1.2) * 3 + 'deg)'
                : 'rotate(' + (index % 4) * (index % 2 === 0 ? 0.5 : -1.2) * 3 + 'deg)'" [style.zIndex]="-index"
          [style.filter]="focusImageIndex !== index ? 'grayscale(80)' : ''"
          [style.opacity]="focusImageIndex > index ? '0' : '1'" [aspectRatio]="4/3"></app-image>
        <div class="relative -z-50 h-full w-full -rotate-6 rounded-xl bg-gray-200/80"></div>
      </button>
      <section class="spacing-8 flex flex-row">
        <div class="flex flex-col gap-8" data-aos="fade-up">
          <div style="display: block; text-align: -webkit-center;">
            <app-range-slider (selectedValueChange)="onSelectedValueChange($event)"></app-range-slider>
          </div>
          <div style="display:flex; flex-direction: row; justify-content:center;">
            <div>
              <ng-container *ngIf="rangeIndex === 'Small'">
                <main class="tracking tight max-w-3xl leading-relaxed text-gray-500 d:text-gray-100/70 [&>p+p]:mt-4"
                  [innerHTML]="ABOUT.description1">
                </main>
              </ng-container>
              <ng-container *ngIf="rangeIndex === 'Medium' || rangeIndex=== ''">
                <main class="tracking tight max-w-3xl leading-relaxed text-gray-500 d:text-gray-100/70 [&>p+p]:mt-4"
                  [innerHTML]="ABOUT.description2">
                </main>
              </ng-container>
              <ng-container *ngIf="rangeIndex === 'Large'">
                <main class="tracking tight max-w-3xl leading-relaxed text-gray-500 d:text-gray-100/70 [&>p+p]:mt-4"
                  [innerHTML]="ABOUT.description3">
                </main>
              </ng-container>
            </div>
          </div>
        </div>

      </section>
    </div>
    <div>
      <app-time-line #timeLineRef></app-time-line>
    </div>
  </section>
</section>