<!-- <div class="main-container"> -->
<!-- <app-header></app-header> -->
<!-- <div class="grid-container">
      <app-phone></app-phone>
      <app-terminal></app-terminal>
  </div> -->

// CRAZY STUFF https://github.com/mlc-ai/web-llm

<!-- <app-terminal></app-terminal> -->


<!-- <div class="color-gray--slate  [--line-color:theme(colors.gray.200/0.8)] d:bg-gray-900 d:bg-gradient-to-b d:from-black/40 d:to-black/40 "> -->

<!-- <div
  class="color-gray--slate bg-white [--line-color:theme(colors.gray.200/0.8)] bg-gray-900 bg-gradient-to-b from-black to-black"> -->
<div class="dark" style="color-scheme:dark">

  <!-- <app-image-slider></app-image-slider> -->

  <div
    class="color-gray--slate bg-white [--line-color:theme(colors.gray.200/0.8)] d:bg-gray-900 d:bg-gradient-to-b d:from-black/40 d:to-black/40">
    <app-hero-section>
    </app-hero-section>

    <!-- <app-terminal></app-terminal> -->
    <app-navbar></app-navbar>

    <app-about></app-about>
    <!-- <app-about-me></app-about-me> -->

    <!-- <app-demo-terminal></app-demo-terminal> -->


    <app-experience></app-experience>



    <!-- <app-navbar></app-navbar> -->
    <app-project></app-project>

    <app-demo-card></app-demo-card>
  </div>
</div>



<!-- </div> -->


<!-- </div> -->