<div id="terminal">
    <header class="terminal-header">
        <div class="terminal-header-buttons">
            <div class="terminal-button close"></div>
            <div class="terminal-button minimise"></div>
            <div class="terminal-button expand"></div>
        </div>
    </header>

    <div class="terminal-body" appAutoFocus>


        <div class="field">
            <label class="label">~</label>

            <div class="control has-icons-left">
            </div>
        </div>
        <div class="terminal-control">
            <div>
                <ng-container *ngIf="enteredText === 'facts' || enteredText === ''">
                    <p class="has-text-weight-bold">Hello! I'm Aryan</p>
                    <p>Here's some facts about me:</p>
                    <ul>
                        <li class="is-rainbow-red">✅ Web Developer</li>
                        <li class="is-rainbow-orange">✅ ML Developer</li>
                        <li class="is-rainbow-yellow">✅ TypeScript Expert</li>
                        <li class="is-rainbow-green">✅ Backend Specialist</li>
                        <li class="is-rainbow-blue">✅ EPOS Builder</li>
                        <li class="is-rainbow-violet">
                            ✅ Cricket Fanatic ⚽
                        </li>
                    </ul>
                    <br />
                </ng-container>

                <ng-container *ngIf="enteredText === 'kill'">
                    <p class="is-rainbow-red">goodbye curel world! 💀</p>
                    <img src="https://media.giphy.com/media/uC8SQoaY5EHhC/giphy.gif" />
                </ng-container>

                <ng-container *ngIf="inputText === 'ssh'">
                    <p>ermmmm.... don't think you can ssh into css I'm afraid. I'm just a pretty terminal
                        window made out of
                        HTML. Soz haxer, you canny hack meh 🙃</p>
                </ng-container>

                <ng-container *ngIf="inputText === 'git'">
                    <p>Bit Rude..</p>
                </ng-container>
            </div>

            <form class="terminal-input">

                <div class="field">
                    <label class="label">~</label>


                    <div class="control has-icons-left">
                        <span class="icon is-left">❯</span>

                        <input [(ngModel)]="inputText" name="itext" class="terminal-input input"
                            (keyup.enter)="onEnter($event)" />

                        <span class="cursor" [ngStyle]="{'margin-left': inputText.length*8 + 20 + 'px'}"></span>

                        {{ inputText.length}}

                    </div>
                </div>


            </form>
        </div>
    </div>




    <nav class="terminal-tmux-bar">
        <div class="screen">0</div>
        <div class="bar">zsh</div>
        <div class="battery">&hearts; 100%</div>
        <div class="name">Aryan's Laptop</div>
    </nav>
</div>






<!-- <app-search searchTextChanged="onSearchTextEntered($event)">

    </app-search> -->