<!-- <button [disabled]="disabled" [ngClass]="{
  'text-primary': condition,
  'text-white': !condition,
  'hover:scale-110': !isMobile,
  'flex': true,
  'items-center': true,
  'space-x-3': true,
  'px-5': true,
  'transition-all': true,
  'ease-in-out': true
}" (click)="onClick()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">


    <fa-icon [icon]="faCoffee"></fa-icon>

    <!-- <fa-icon [icon]="['fas', 'lightbulb']"></fa-icon> -->

<!-- <p [ngClass]="{
    'text-primary': condition,
    'text-white': !condition
  }" [style.width.px]="condition ? (width ? width : 40) : 0" [style.opacity]="condition ? 1 : 0"
        [style.color]="condition ? '#FFC400' : '#fff'" style="
    transition: all 500ms;
    transition-timing-function: ease-in-out;
  ">
        {{ name }}
    </p>
</button> -->

<!-- app-option-button.component.html -->
<!-- <button aria-label="option" (click)="onClick()"
    [ngClass]="'flex items-center space-x-3 px-5 transition-all ease-in-out ' + (condition ? 'text-primary' : 'text-white')"
    [disabled]="disabled ? true : false" *ngIf="isMobile; else desktopBtn">
    <fa-icon [icon]="icon"></fa-icon>
    <p [ngClass]="condition ? 'text-primary' : 'text-white'">{{ name }}</p>
</button>
<ng-container #desktopBtn>
    <button aria-label="option" (click)="onClick()" (mouse.enter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
        class="flex items-center space-x-3 px-5 transition-all ease-in-out hover:scale-110"
        [style.transition]="'all 500ms'" [style.transitionTimingFunction]="'ease-in-out'"
        [style.color]="condition ? '#FFC400' : '#fff'">
        <fa-icon [icon]="icon"></fa-icon>
        <p [style.width]="condition ? (width ? width : '40px') : '0px'" [style.opacity]="condition ? '1' : '0'"
            [style.color]="condition ? '#FFC400' : '#fff'" [style.transition]="'all 500ms'"
            [style.transitionTimingFunction]="'ease-in-out'">
            {{ name }}
        </p>
    </button>
</ng-container> -->



<!-- app-option-button.component.html -->
<button aria-label="option" (click)="onClick()"
    [class]="'flex items-center space-x-3 px-5 transition-all ease-in-out ' + (condition ? 'text-primary' : 'text-white')"
    [disabled]="disabled ? true : false" *ngIf="isMobile; else desktopBtn">
    <!-- <fa-icon [icon]="icon"></fa-icon> -->
    <p [class]="condition ? 'text-primary' : 'text-white'">{{ name }}</p>
</button>
<ng-template #desktopBtn>
    <button aria-label="option" (click)="onClick()" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
        class="flex items-center space-x-3 px-5 transition-all ease-in-out hover:scale-110"
        [style.transition]="'all 500ms'" [style.transitionTimingFunction]="'ease-in-out'"
        [style.color]="condition ? '#FFC400' : '#fff'">
        <!-- <fa-icon [icon]="icon"></fa-icon> -->
        <p [style.width]="condition ? (width ? width : '40px') : '0px'" [style.opacity]="condition ? '1' : '0'"
            [style.color]="condition ? '#FFC400' : '#fff'" [style.transition]="'all 500ms'"
            [style.transitionTimingFunction]="'ease-in-out'">
            {{ name }}
        </p>
    </button>
</ng-template>


<!-- <button
aria-label="option"
onClick={onClick}
className={`flex items-center space-x-3 px-5 transition-all ease-in-out ${
  condition ? "text-primary" : "text-white"
}`}
disabled={disabled ? disabled : false}
>
<FontAwesomeIcon icon={icon} />
<p className={`${condition ? "text-primary" : "text-white"}`}>{name}</p>
</button>
) : (
<button
aria-label="option"
onClick={onClick}
onMouseEnter={onMouseEnter}
onMouseLeave={onMouseLeave}
className="flex items-center space-x-3 px-5 transition-all ease-in-out hover:scale-110"
style={{
  transition: "all 500ms",
  transitionTimingFunction: "ease-in-out",
  color: condition ? "#FFC400" : "#fff",
}}
>
<FontAwesomeIcon icon={icon} />
<p
  style={{
    width: condition ? (width ? width : "40px") : "0px",
    opacity: condition ? "1" : "0",
    color: condition ? "#FFC400" : "#fff",
    transition: "all 500ms",
    transitionTimingFunction: "ease-in-out",
  }}
>
  {name}
</p>
</button> -->