<!-- <button style="background-color:yellow; width:70%;" (click)="toggleChat()">Open Chat</button> -->


<!-- <nb-layout> -->
<!-- <nb-layout-header fixed>
      <!-- Your navbar content here -->
<!-- <button nbButton (click)="sidenav.toggle()">Open Chat</button>
    </nb-layout-header> -->

<!-- <nb-sidebar state="collapsed" class="chat-sidebar">
      <!-- Sidebar content goes here -->
<!-- </nb-sidebar>  -->

<!-- <nb-layout-column>
      
    </nb-layout-column> -->
<!-- <div #nbSideNav> -->
<div class="overlay" *ngIf="chatToggle"></div>
<nb-sidebar #sidenav position="end" class="chat-sidenav" [ngStyle]="{'z-index': chatToggle ? 1024 : -1024}">
    <!-- <button (click)="closeSidebar()">
        <nb-icon icon="close-outline"></nb-icon>
      </button> -->
    <!-- Embed Nebular Conversational UI here -->
    <!-- <nb-chat>...</nb-chat> -->
    <div class="close-button" (click)="toggleChat()">X</div>
    <app-chatbot-ui></app-chatbot-ui>
</nb-sidebar>

<!-- </div> -->
<!-- </nb-layout> -->