<!-- <nb-layout>

    <nb-layout-column> -->
<div>
    <div style="height: 100%" #nbChat [ngStyle]="{ 'display': chatToggle ? 'block' : 'none' }"
        [ngClass]="{'overlay':chatToggle}" [@slideInOut]="chatToggle.toString()">
        <div class="close-button" (click)="toggleChat()">X</div>
        <nb-chat [ngClass]="{'d':!receivedTheme}" class="chat-bot" *ngFor="let chat of chats" [title]="chat.title"
            [status]="chat.status">
            <nb-chat-message *ngFor="let msg of chat.messages" [type]="msg.type" [message]="msg.text"
                [reply]="msg.reply" [sender]="msg.user.name" [date]="msg.date" [files]="msg.files"
                [avatar]="msg.user.avatar">
            </nb-chat-message>
            <nb-chat-form (send)="sendMessage(chat.messages, $event)"></nb-chat-form>
        </nb-chat>
    </div>
</div>

<!-- </nb-layout-column>
</nb-layout> -->