// @forward '@nebular/theme/styles/theming';

// @use '@nebular/theme/styles/theming' as *;
// @use '@nebular/theme/styles/themes/default';
// @use '@nebular/theme/styles/themes/dark';

// @import"../../../node_modules/@nebular/theme/styles/prebuilt/default.css";
// @import"../../../node_modules/@nebular/theme/styles/prebuilt/dark.css";
// @import"../../../node_modules/@nebular/theme/styles/prebuilt/cosmic.css";

// // @import "~@nebular/theme/styles/prebuilt/dark.css";


// // :host ::ng-deep {
    
// //     @import "../../../node_modules/@nebular/theme/styles/prebuilt/dark.css";
// //     @import"../../../node_modules/@nebular/theme/styles/prebuilt/default.css";
// //     @import"../../../node_modules/@nebular/theme/styles/prebuilt/cosmic.css";
// // }

// $nb-enable-css-custom-properties: true; // <-- enable css custom properties


// $nb-themes: nb-register-theme(
//   (
//     // some styles we changed
//     text-basic-color: color-basic-800,
//     text-disabled-color: color-basic-600
//   ),
//   default,
//   default
// );

// $nb-themes: nb-register-theme(
//   (
//     // some styles we changed
//     text-basic-color: color-basic-800,
//     text-disabled-color: color-basic-600
//   ),
//   dark,
//   dark
// );


// :host ::ng-deep {
    
//     @import"../../../node_modules/@nebular/theme/styles/prebuilt/default.css"
//     // Your component-specific styles here
// }

// ::ng-deep nb-layout-column {
//     justify-content: center;
//     display: flex;
//   }
//   nb-chat {
//     width: 500px;
//     margin: 0.5rem 0 2rem 2rem;
//   }

//   nb-chat {
//     width: 100%; /* Full width */
//     height: 100%; /* Full height */
//     display: block; /* Or flex, depending on your layout needs */
//   }
.close-button {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    cursor: pointer;
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Button color */
    background-color: #333; /* Button background color */
    border-radius: 50%; /* Make it a circle if desired */
    padding: 5px 10px; /* Adjust padding as needed */
    z-index: 5040; 
  }
  
  nb-chat {
    flex: 1; /* This will allow the chat to expand */
    // width: 100%; /* Full width */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    // background-color: white;
    background-color: rgba(15, 23, 42, 1)
  }

//   nb-chat .d{
//     background-color: rgba(15, 23, 42, 1)
//   }

//   :ng-deep  .header{
//     background-color: yellow;
//   }
  


// ::ng-deep nb-layout-column {
//     justify-content: center;
//     display: flex;
//   }
//   nb-chat {
//     width: 500px;
//   }

.close-button {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    cursor: pointer;
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Button color */
    background-color: #333; /* Button background color */
    border-radius: 50%; /* Make it a circle if desired */
    padding: 5px 10px; /* Adjust padding as needed */
    z-index: 5040; 
  }

.chat-bot {
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    // z-index: 1040; /* Adjust if necessary to be above other elements */
    @media screen and (max-width: 768px) {
        width: 100%; /* Set the width to 100% for medium screens */
      }
  }


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 500; /* Ensure the overlay appears above other content */
    // display: none; /* Initially hidden */
  }