@import '../_variables.scss';

.textBox{
   
    position: relative;
    width: 100%;
}

.textBox textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(0,0,0, 0.5);
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
    transition: 0.5s;
    resize: none;
}

.textBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0,0,0, 0.5);
    // text-transform: uppercase;
    transition: 0.5s;
}

.textBox textarea:valid ~ span,
.textBox textarea:focus ~ span
{
    color: #2196f3;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 5px;
    background: $bg-color1;
    border-left: 1px solid black;
    border-right: 1px solid black;
    outline: none
    // letter-spacing: 0.2em;
}

.inputBox{
   
    position: relative;
    width: 50%;
}

.inputBox input{
    width: 90%;
    background: transparent;
    color: #000; // #fff;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1em;
    // letter-spacing: 0.1em;
}

.inputBox  span{
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(0, 0, 0, 0.5);
    // text-transform: uppercase;
    pointer-events: none;
    // letter-spacing: 0.1em;
    padding: 10px 0 5px;
    transition: 0.5s;
}

.inputBox input span{
    position: absolute;
    left: 0;
    padding: 10px 0 5px;
    color: rgba(255, 255, 255, 0.5);
    // text-transform: uppercase;
    pointer-events: none;
    // letter-spacing: 0.1em;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #2196f3;
    transform: translateY(-16px);
    font-size: 0.65em;
}

// .inputBox input:invalid ~ span.error,
// .inputBox input:focus ~ span.error
// {
//     color: #2196f3;
//     transform: translateY(-16px);
//     font-size: 0.65em;
// }


.error.active {
    color: #2196f3;
    transform: translateY(-16px)!important;
    font-size: 0.65em!important;
  }

.error.active-text{
    color: #2196f3;
    transform: translateX(10px) translateY(-7px)!important;
    font-size: 0.75em!important;
    padding: 0 5px!important;
    background: $bg-color1!important;
    border-left: 1px solid black!important;
    border-right: 1px solid black!important;
}


.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 2px;
    background: #000000;
    overflow: hidden;
}

.inputBox i::before{
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff1b69, #ff0, #2196f3, #9c27b0, #ff1b69);
    animation: animate 2s linear infinite;
    transition: 0.5s;
}

.inputBox input:valid ~ i::before,
.inputBox input:focus ~ i::before
{
    left: 0;
}

@keyframes animate{

    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 250px;
    }
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
  }
  
    .error {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    color: red !important;
  }



.card {
    position: relative;
    
    --card-space: 20px;

    border-radius: 10px;
    border: solid 5px $third-bg-color;

    padding-bottom: var(--card-space);

    background-color: $bg-color1;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);

    color: $text-color1;
}

.card__title {
    padding-left: var(--card-space);

    font-weight: bold;
    font-size: 27px;
}

.card__photo {
    width: 160px;
    height: 190px;
    margin-left: var(--card-space);
    margin-top: 6px;

    background-color: $third-bg-color;
}

.card__body {
    display: flex;
}

.card__info {
    margin: 0 var(--card-space);
}

.card__input {
    display: inline-block;
    // margin-bottom: 8px;
    // width: 66px;
    background-color: $bg-color1;
    font-size: 10px;
    font-weight: bold;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: none;
    
}

.form-control{
    display:flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    border-bottom: 4px solid #1b283b; 
    margin-left: 50px;
    margin-bottom: 8px;
    // width: 66px;
}

// input{
//     font-family: $hand-font2;
// }
.card__string {
    // margin-bottom: 8px;
    padding-right: 10px;
    // border-bottom: 4px solid $third-bg-color;
    background-color: $bg-color1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 10px;
    font-weight: bold;
    
    width: 75%
    
}
.card__wr1{
    margin: 0;


}
.card__string__messageBox {
    margin-bottom: 8px;
    padding-right: 10px;
    border: 4px solid $third-bg-color;
    background-color: $bg-color1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    // border-top-style: hidden;
    // border-right-style: hidden;
    // border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
    margin-left: 50px;
    width: 85%;
    margin-top:30px;
    height:90px;
    resize: none;
    font-size: 14px;
    font-weight: bold;
    // flex: 1;
}

label{
    float:left;
    text-align: right;
}

.no-outline:focus {
    outline: none;
  }
  

.card__cap {
    position: relative;

    margin-bottom: 14px;

    border-radius: 6px 6px 0 0;
    background-color: $bg-color2;

    overflow: hidden;
}

.card__item {
    font-weight: normal;
}

.card__fill {
    position: relative;
    display: inline-block;

    width: 190px;
    height: 22px;

    background-color: $bg-color1;
    overflow: hidden;

    font-family: $hand-font2;
}

.card__typing {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.card__out_typing {
    position: absolute;

    right: 0;
    top: 0;
    width: 200px;
    height: 110px;

    overflow: hidden;

    font-family: $hand-font;
    line-height: 2;
}

.card__soc_link {
    position: absolute;

    width: 24px;
    height: 24px;
    top: 11px;
    right: 50px;

    animation: card_logo 9s ease-out;
}

.card__soc_link:nth-child(2) {
    right: 20px;

    animation-duration: 8.5s;
}

// input.ng-invalid.ng-touched{
//     border: red 1px solid;
// }

// textarea.ng-invalid.ng-touched{
//     border: red 2px solid;
// }

@keyframes card_logo {
    0%, 94% {
        transform: translateY(-50px);
    }
    96% {
        transform: translateY(10px);
    }
    98% {
        transform: translateY(-5px);
    }
    99% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

.card__logo {
    width: 100%;
    height: 100%;
}

.card__logo_part,
.card__logo{
    fill: #1b283b;
}

@media (hover: hover) {
    .card__soc_link,
    .card__logo,
    .card__logo_part {
        transition: $def-trs;
    }

    .card__soc_link:hover {
        transform: scale(1.3, 1.3);
    }

    .card__soc_link:hover .card__logo_part,
    .card__soc_link:hover .card__logo{
        fill: #F9FFEE;
    }
}

.card__out_typing-1 {
    top: 100px;
    left: 200px;
    width: 175px;

    transform: rotate(-20deg);
}

.card__out_typing-2 {
    top: 130px;
    left: auto;
    right: 160px;

    transform: rotate(10deg);
}

.card__out_typing-3 {
    top: auto;
    left: 8%;
    bottom: 140px;

    transform: rotate(-30deg);
}

.card__out_typing-4 {
    top: auto;
    left: auto;
    right: 8%;
    bottom: 10%;
    width: 175px;

    transform: rotate(20deg);
}

.card__out_typing-5 {
    top: auto;
    left: auto;
    right: 10%;
    bottom: 8%;

    transform: rotate(10deg);
}

.card__out_typing-6 {
    top: auto;
    left: 60%;
    bottom: 5%;

    transform: rotate(-10deg);
}

.card__out_typing-7 {
    top: auto;
    left: 30%;
    bottom: 3%;

    transform: rotate(10deg);
}

.card__out_typing-8 {
    top: auto;
    left: 50%;
    top: 5%;

    transform: rotate(-10deg);
}

.card__out_typing-9 {
    top: auto;
    left: 30%;
    top: 5%;

    transform: rotate(4deg);
}

@media screen and (max-width: 735px) {
    .card {
        transform: scale(0.75);
    }

    .card__out_typing-3,
    .card__out_typing-4,
    .card__out_typing-7,
    .card__out_typing-8,
    .card__out_typing-9 {
        transform: translateX(-50%);
        bottom: 10%;
        left: 50%;
    }

    .card__out_typing-1,
    .card__out_typing-5,
    .card__out_typing-6,
    .card__out_typing-2 {
        transform: translateX(-50%);
        top: 10%;
        left: 50%;
    }
}

@media screen and (max-width: 360px) {
    .card {
        transform: scale(0.6);
    }
}

@media screen and (max-width : 1023px) and (orientation : landscape) {
    .card__out_typing-1,
    .card__out_typing-2,
    .card__out_typing-3,
    .card__out_typing-4,
    .card__out_typing-5,
    .card__out_typing-6,
    .card__out_typing-7,
    .card__out_typing-8,
    .card__out_typing-9 {
        display: none;
    }
}
